.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  height: 300px;
  border-radius: .5rem;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;

}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
  
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}
.carousel__item img{
  border-radius: 0;
  height: 100%;
}
.carousel__actions button {
  align-items: center;
  justify-content: center;
  display: flex;
}
.carousel__actions button img{
  width: .7rem;
  height: .7rem;
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: hsl(0, 0%, 100%);
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 10px;
 
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 10px;
 
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] img:hover  {
  filter: invert(54%)
          sepia(50%)
          saturate(1745%)
          hue-rotate(347deg)
          brightness(100%)
          contrast(102%);

}
.carousel .carousel__actions button[data-js="carousel__button--next"] img:hover {
  filter: invert(54%)
  sepia(50%)
  saturate(1745%)
  hue-rotate(347deg)
  brightness(100%)
  contrast(102%);
}


@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
